:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(50, 87, 92);
  /* background-color: #ffc847; */
  /* #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  /* font-weight: 500; */
  font-size: larger;
  color: #ffc847;
  text-decoration: inherit;
}
a:hover {
  color: #97e98c;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
}

button {
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 0.3em 0.9em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition-duration: 200ms;
}
button[class="next"] {
  background-color: white;
  color: rgb(50, 87, 92); 
  /* transition: transform 300ms; */
  margin-left: 0.5em;
  margin-right: 0.5em;
}
button[class="next"]:hover {
  background-color: rgb(114, 181, 181);
  color: rgb(36, 62, 66);
  /* transform: scale(1.05); */
}
button[class="back"] {
  color: #d3d3d3;
  background-color: rgb(50, 87, 92);
  border-color: #d3d3d3;
  /* transition: transform 300ms; */
}
button[class="back"]:hover {
  background-color: rgb(36, 62, 66);
  border-color: rgb(36, 62, 66);
  color: #e7e7e7;
  /* transform: scale(1.05); */
}
button[class="cookie"] {
  background-color: transparent;
  /* visibility: hidden; */
}
button[class="select-all"] {
  /* margin-left: 0.5em;
  margin-right: 0.5em; */
  padding: 0.4em 0.8em;
  /* padding-right: 0.3em; */
  background-color: transparent;
  color: white;
}
button[class="select-all"]:hover {
  color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
button[class="select-all"]:focus {
  color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled,
button[disabled]{
  /* background-color: transparent;
  color: #666666;
  transform: none; */
  display: none;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
